:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}
body {
  background-color: var(--white);
  font-family: "Roboto";
  color: var(--navy-blue);
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
  max-width: 1440px;
}


header {
  border-bottom: 1px solid var(--cornflower);
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  letter-spacing: 0.72px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Logo */
.basic-containers {
  display: inline-block;
}
.logo-web-upper {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-studio-upper {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* navigation */
.navigation-item {
  display: inline;
}
.navigation-link {
  font-weight: 500;
  color: var(--navy-blue);
}
.navigation-link:focus,
.navigation-link:hover {
  color: var(--ocean);
}
/* .line:active {
  border-bottom: 5px solid var(--ocean);
  border-radius: 50%;
} */
/* Address */
.contacts {
  color: var(--slate);
  font-style: normal;
}
.contacts:focus,
.contacts:hover {
  color: var(--ocean);
}
/* Banner */
.banner-section {
  background: var(--navy-blue);
}
.banner-heading {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.banner-button {
  cursor: pointer;
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}
.banner-button:hover {
  background: var(--ocean);
}
/* Feature */
.feature-list {
  display: inline-block;
}
.feature-item-heading {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.feature-item-text {
  width: 264px;
}
/* Team */
.team-section {
  background: var(--cloud);
}
.team-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.team-card {
  display: inline-block;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.team-profession {
  color: var(--slate);
}
/* Portfolio */
.portfolio-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
}
.portfolio-list {
  display: inline-block;
}
.portfolio-service {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.potfolio-app {
  color: var(--slate);
}
/* Footer */
.page-footer {
  background: var(--navy-blue);
}
.logo-web-lower {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-studio-lower {
  color: var(--cloud);
}
.footer-text {
  width: 264px;
  color: var(--cloud);
}
